.chat-input {
  margin: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 3px 0px 3px 5px;
  &__smile {
  }
  &__actions {
    display: flex;
    button.ant-btn-icon-only {
      margin-right: 10px;
    }
  }
  input {
    border: 0;
    &:focus {
      border: 0;
      box-shadow: none;
    }
  }
  button.ant-btn-icon-only {
    padding-top: 4px;
    span.anticon {
      opacity: 0.5;
      font-size: 18px;
    }
    &:hover {
      span.anticon {
        opacity: 1;
        transition: 0.3s;
      }
      
    }
  }
}
