@import 'antd/dist/antd.css';
@import 'reset.css';
@import 'layouts/chat.scss';

body,
html,
#root,
.wrapper {
  height: 100%;
  color: #202020;
}
body {
  background-color: #f4f7fd;
}
* {
  outline: 0;
}
