@import '../variables';

.chat {
  background-color: #fff;
  // user-select: none;
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  display: flex;
  button.ant-btn-icon-only {
    color: inherit;
    background-color: #fff;
    span.anticon {
      opacity: 0.5;
      font-size: 16px;
    }
    &:hover {
      span.anticon {
        opacity: 1;
        transition: 0.3s;
      }
    }
  }
  &__sidebar {
    border-right: 1px solid #f7f7f7;
    box-shadow: 2px 0px 5px #f7f7f7;
    flex: 0 1 330px;
    &-header {
      padding: 20px;

      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      & > div {
        span {
          margin-right: 5px;
        }
      }
      &-text {
        font-size: 16px;
      }
      &-left {
        display: flex;
        align-items: center;
      }
    }

    &-search {
      padding: 0 20px;
      margin-bottom: 30px;

      span,
      input,
      button {
        background-color: #f7f8f9;
      }
      input {
        height: 30px;
      }
    }

    &-dialogs {
      height: calc(100% - 92px);
      .dialogs {
        overflow: auto;
        &::-webkit-scrollbar {
          width: 0 !important;
        }
        scrollbar-width: none;
        height: calc(100% - 92px);
      }
    }
  }

  &__dialog {
    flex: 1 1 auto;
    &-header {
      display: flex;
      padding: 20px;
      border-bottom: 1px solid #f7f7f7;
      justify-content: space-between;
      align-items: center;
      button.ant-btn-icon-only {
        span.anticon {
          font-size: 22px;
        }
      }
      &-content {
        text-align: center;
      }
    }
    &-username {
      display: block;
      margin-bottom: 5px;
    }

    &-messages {
      position: relative;
      height: calc(100% - 160px);

      .ant-empty {
        position: absolute;
        top: 50%;
        left: 47%;
        transform: translate(-50%, -50%);
      }
    }
    &-messages-box {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      overflow: auto;
      height: 100%;
    }
  }
}

.messages-spin {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  .ant-spin-text {
    margin-top: 15px;
    font-size: 14px;
    color: $blue;
    font-weight: 500;
  }
}
