.chat {
  background-color: #fff;
  // user-select: none;   
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  display: flex;
  &__sidebar {
    border-right: 1px solid #f7f7f7;
    box-shadow: 2px 0px 5px #f7f7f7;
    flex: 0 1 330px;
    &-header {
      padding: 25px 20px 20px 20px;

      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      & > div {
        span {
          margin-right: 5px;
        }
      }
      &-text {
        font-size: 16px;
      }
      &-left {
        display: flex;
        align-items: center;
      }
    }

    &-search {
      padding: 0 20px;
      margin-bottom: 30px;

      span,
      input,
      button {
        background-color: #f7f8f9;
      }
      input {
        height: 30px;
      }
    }

    &-dialogs {
      height: calc(100% - 151px);
      .dialogs {
        overflow: auto;
        &::-webkit-scrollbar {
          width: 0 !important;
        }
        scrollbar-width: none;
        height: 100%;
      }
    }
  }

  &__dialog {
    flex: 1 1 auto;
    &-header {
      display: flex;
      padding: 20px;
      border-bottom: 1px solid #f7f7f7;
      justify-content: space-between;
      align-items: center;

      &-content {
        text-align: center;
      }
    }
    &-username {
      display: block;
      margin-bottom: 5px;
    }

    &-messages {
      overflow: auto;
      height: calc(100% - 160px);
    }
  }
}
