@import '~styles/variables';

.message {
  $self: &;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  &__checkedTick {
    margin-bottom: 20px;
  }

  &__avatar {
    margin-right: 13px;
    margin-bottom: 5px;
    .avatar {
      border-radius: 50%;
      width: 33px;
      height: 33px;
      font-size: 14px;
      line-height: 32px;
    }
    img {
      border-radius: 50%;
      width: 33px;
      height: 33px;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 440px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__bubble {
    order: 2;
    display: inline-block;
    padding: 15px;
    position: relative;
    background-color: $blue;
    color: #fff;
    border-radius: 12px 12px 12px 0;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.2);
    margin-bottom: 8px;
    margin-right: 8px;
    &.me {
      cursor: pointer;
    }
  }

  &__text {
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    word-break: break-all;
    .emoji-mart-emoji {
      max-height: 16px;
    }
  }

  &__attachments {
    margin-left: 5px;
    display: flex;
    &__item {
      margin-right: 8px;
      margin-bottom: 2px;
      cursor: pointer;
    }
    img {
      object-fit: cover;
      object-position: top center;
      width: 45px;
      height: 45px;
      border-radius: 8px;
    }
    &-no-text {
      img {
        width: 65px;
        height: 65px;
      }
    }
  }

  &-image-one {
    #{$self}__attachments {
      &__item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &__date {
    display: block;
    font-size: 12px;
    opacity: 0.4;
  }

  &-isme {
    display: flex;
    flex-direction: row-reverse;
    #{$self}__bubble {
      background-color: #fff;
      border: 1px solid #ececec;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      border-radius: 12px 12px 0 12px;
      color: $black;
      margin-right: 0;
      margin-left: 5px;
    }

    #{$self}__avatar {
      margin-right: 0;
      margin-left: 13px;
    }

    #{$self}__date {
      text-align: end;
    }
  }

  &-is-audio {
    #{$self}__bubble {
      overflow: hidden;
    }
    #{$self}__audio {
      &-progress {
        background-color: #418fff;
        position: absolute;
        left: 0;
        top: 0;
        transition: width 0.3s linear;
        height: 100%;
      }
      &-info {
        display: flex;
        align-items: center;
        position: relative;
      }
      &-btn {
        display: flex;
        margin-right: 15px;
        button {
          cursor: pointer;
          background-color: #0f3997;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          border: 0;
          img {
            height: 17px;
            position: relative;
            // left: 1px;
          }
        }
      }
      &-wave {
        margin-right: 15px;
      }
      &-duration {
        color: #fff;
        font-weight: 500;
        opacity: 0.9;
        font-size: 12px;
        min-width: 30px;
      }
    }
  }

  &__typing {
    margin: 0 5px;
    div#wave {
      position: relative;
      .dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 3px;
        opacity: 0.9;
        background: #fffafa;
        animation: wave 1.3s linear infinite;

        &:nth-child(2) {
          animation-delay: -1.1s;
        }

        &:nth-child(3) {
          animation-delay: -0.9s;
        }
      }
    }

    @keyframes wave {
      0%,
      60%,
      100% {
        transform: initial;
      }

      30% {
        transform: translateY(-7px);
      }
    }
  }
}
